<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="testCase.ExtentReportManager" />
  </listeners>
  <test thread-count="5" name="Test">
   <parameter name = "browsers" value="edge"></parameter>
   <groups>
   <run>
   <include name="smoke"></include>
   </run>
   </groups>
    <classes>
      <class name="testCase.TestCase" />
      <class name="testCase.TestCase2" />
      <class name="testCase.TestCase3" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->







